[2020-12-09 16:44] codingbandit opened #11 "Emergency Kits - Modeling"
When creating emergency kits, we need to provide a starting point. This will be a generic list of items for one person. Types of kits at this time include Home Kit, Go Bag, Car Kit, Work Kit (model this so that the types of kits are extensible). The list of items along with quantity will vary from kit to kit (will be provided to us).

A Kit shall be identified with a Name and an Icon. (Standard ic

[2020-12-09 16:57] codingbandit opened #12 "Emergency Kits - Functions implementation"
Dependent on issue #11 Modeling emergency kits

(Models available in [Wiki](https://github.com/HTBox/TwoWeeksReady/wiki/Emergency-Kits---Default-content))

For each of the functions below, we will be obtaining the user information from the authentication token.

Encapsulate function signature parameters in classes.

Function names, signatures, object names, and number of functions are not set in s

[2020-12-09 17:16] codingbandit opened #13 "Emergency Kits - UI implementation"
Emergency Kits needs to be a section on the Preparedness tab/screen.
1) Each Kit shall be identified with an icon or an image (Icons will be provided for each type of kit)
![image](https://user-images.githubusercontent.com/3979478/101661759-abbe5080-3a16-11eb-9e5a-888e2c1a4222.png)

Emergency kit listing
1) The emergency kit calculator provides the ability for the user to create a new list. (bring

[2020-12-09 17:31] codingbandit opened #14 "Obtain Scenario Server information for Shake Alert"
In order to implement Shake Alert, we will need a user id/password and IPs for the scenario server. (Note: Do not post the information here)

[2020-12-09 17:32] codingbandit opened #15 "Determine if Twilio is the best solution for text notifications"
Email Twilio and find out what our options are.

[2020-12-09 17:48] MaximilianDixon commented on #13
We will provide an icon for each of the 4 types of kits: home, work, vehicle, and go-bag. This should make them easier to distinguish. I like emergency kit creation flow you developed. For deleting kits, I am open to any ideas as to how to make it intuitive. We should include an “are you sure you want to delete this” step to keep people from accidentally deleting something. Thoughts?

[2020-12-09 17:49] MaximilianDixon commented on #14
I pinged USGS. Hopefully this will happen soon.

[2020-12-09 17:55] MaximilianDixon commented on #11
To keep the kit calculator and “develop kit over time” functions simple, only the preloaded items for each kit type will be multiplied.

[2020-12-09 19:32] codingbandit commented on #13
I agree with you having the warning before we delete something (I have unexpectedly deleted things by accident many times!). I would think it would be best shown on the Emergency Kit Details screen.

[2020-12-09 19:34] MaximilianDixon commented on #13
Sounds good to me.

Maximilian Dixon, MUP, MIPM, CEM®
Hazards and Outreach Program Supervisor
(253) 512-7017<tel:(253)%20512-7017>
Office Hours: Mon-Thu 0730-1800<tel:0730-1800>

From: codingbandit <notifications@github.com>
Sent: Wednesday, December 9, 2020 11:33 AM
To: HTBox/TwoWeeksReady <TwoWeeksReady@noreply.github.com>
Cc: Dixon, Maximilian (MIL) <Maximilian.Dixon@mil.wa.gov>; Comment <comme

[2020-12-09 20:01] schuback commented on #14
I’ll follow up with Bob too with a call. I never got a response from my
last email.

On Wed, Dec 9, 2020 at 9:49 AM MaximilianDixon <notifications@github.com>
wrote:

--
--
Pascal

[2020-12-11 02:08] MaximilianDixon commented on #13
Lists of the “minimum” supplies for their respective kits for 1 person or 1 pet:

Home Kit (2 Weeks Ready kit)
• Water, 14 gallons
• Water filtration (filter, purification tablets)
• Food, 2 weeks’ worth
• Set of clothing, 5
• Jacket
• Hat and gloves
• Poncho
• Sturdy shoes
• Blanket
• Light source (flashlight, headlamp)
• Extra batteries
• NOAA Weather radio
• Phone charger
• Multi-tool with knif

[2021-01-13 15:41] codingbandit commented on #14
Credentials obtained

[2021-01-13 15:41] #14 closed

[2021-01-13 19:20] codingbandit commented on #11
Preliminary model located [in the Wiki](https://github.com/HTBox/TwoWeeksReady/wiki/Emergency-Kits---Default-content).

[2021-01-13 19:20] #11 closed

[2021-01-16 18:49] codingbandit commented on #12
@schuback - when we create a kit off of a base kit, do we create a separate kit for the pets vs the people or are the contents of the base kit + pet kit combined into a single kit ?

[2021-01-16 18:52] codingbandit opened #17 "Create admin site"
Create admin site project that will be used to populate and maintain base kits. [will add more features later]

[2021-01-16 19:00] codingbandit opened #18 "Hazard Hunt - Modeling"
Hazard Hunt deals is populated with recommendations of actions that can be taken now to avoid hazards in an emergency situation. These actions give the user ideas on what to add to the family plan in case of emergency (ie. turning off the gas/electric).

Hazard name, description, photo, directive should be provided. This list is not modifiable and is provided as an informational resource.

This mo

[2021-01-16 19:04] codingbandit opened #19 "Hazard Information - Modeling"
A listing of various hazards, categorized such as earthquake, fire, pandemic.

Name, Description, Photo, Directive (Directive is like an article of text on what to do in case of the hazard), link to more information.

Use the same foundation as Hazard Hunt

For more details see the [wiki ](https://github.com/HTBox/TwoWeeksReady/wiki/Hazard-Hunt)

[2021-01-16 19:19] codingbandit opened #20 "Recent events - Service"
@schuback - is there a source (web service of some kind) that we will use to populate the recent events list/map ?

[2021-01-16 19:23] codingbandit opened #21 "Hazard Information - Functions Implementation"
Dependent on issue #19

Serves mobile application read-only lists of hazards as well as directives on what to do in case of the hazard(ie. earthquake).
Serves (tbd) admin app to allow for maintenance of hazard information (crud).

Function names, signatures, object names, and number of functions are not set in stone:

GetHazardInformationList() returns HazardInformation[]
GetHazardInformation(Haza

[2021-01-16 19:58] codingbandit opened #22 "Redirect to login screen if user is not authenticated"
Redirect to login screen if user is not authenticated

[2021-01-23 15:14] #22 closed

[2021-01-27 03:16] schuback commented on #18
The recommended items list (hazard hunt) list is not modifiable by the end user.  We might add to it if we find items in the future during an update. Do we need to come up with the list for you?  @codingbandit

[2021-01-27 03:19] schuback commented on #12
I would say keep the pet kit separate.  Someone might have two pet kits (one for each pet - cat & dog, dog 1 and dog 2, or cat 1 and cat 2, etc). The same could apply for human kits - one for me, one for mom, one for kid 1, kid 2, etc. Make sense? @codingbandit

[2021-01-27 16:51] schuback commented on #12
Home Kit
Pet Kit
Vehicle Kit
Go Kit

[2021-01-27 16:52] schuback commented on #12
Sorry @codingbandit - I hit the wrong button when commenting.  :(

[2021-01-27 17:25] schuback opened #25 "Tsunami Alert Module"
Add in Tsunami alerting module.

When the TWC (Tsunami Warning Center) sends out an a tsunami alert that affects the geo location of the user (mostly in WA/OR) send/push an alert to the end user.

Grabbing from [https://www.tsunami.gov/events/xml/PAAQCAP.xml]

- Parsing the XML
- Check if the message has already been pushed
- Storing a new message if needed
- Sending out the notification

**Need t

[2021-01-27 17:56] schuback opened #26 "Connecting People"
Hello Dante... @ddisabat - Welcome to the GitHub 2wr site.

[2021-01-28 01:42] rfalanga opened #27 "Am I correct in thinking that there are no Code Tours currently?"
Hello everyone, I've been looking over this project. Looking to see if this is a project that I'd like to contribute to. I learned of this project on both Dot Net Rocks and Runas Radio. (Hi @RichardCampbell!)

@codingbandit, I see that you've added a `ApiTour.tour` file to the project. Until I came across this, I'd never heard of CodeTour. I've installed the CodeTour VS Code extension. It looks to

[2021-01-28 13:10] codingbandit commented on #27
Welcome @rfalanga ! Yes! we do have code tours. There is code tours for both UI and Api :) - find the UI code tours here: 2wr-app/code-tour/UITour.tour and the api code tours here: api/CodeTour/ApiTour.tour - if you open those in Visual Studio Code you can use your extension to go through the tours step by step ! Here is instructions on how to use the extension to get up to speed! https://marketpl

[2021-01-28 13:10] codingbandit commented on #27
You will also find readme documents in the root of both the UI and API folders with instructions on how to setup your environment

[2021-01-28 14:43] rfalanga commented on #27
Thank you very much!

[2021-01-28 14:43] #27 closed

[2021-02-10 03:44] rfalanga commented on #25
@schuback, please excuse my ignorance, but where is the message pushed to?

[2021-02-10 04:19] schuback commented on #25
No worries @rfalanga - The tsunami alert should trigger users along any water ways (Washington coast and Puget Sound) and if not able to do that, just ping all users in a larger geographic footprint (Most of Western Washington). Does this help?

[2021-02-10 04:24] schuback commented on #25
@rfalanga - Also, I am not too sure of the capabilities we have available at this time. Happy to discuss more.

I am bringing in @MaximilianDixon as he is part of WAEMD and can help shape discussion.

[2021-02-10 04:54] MaximilianDixon commented on #25
@rfalanga @schuback It would also be great if we could filter out tsunami warnings from the other three alerts (advisory, watch, and information statement), so that people who just want to receive warnings have that option. Not sure if this is possible.

[2021-02-10 05:16] MaximilianDixon commented on #25
@rfalanga @schuback Here are the notes from the point of contact for the Nanoos app. “ Our script checks the tsunami bulletin CAP XML every 15 minutes:
https://www.tsunami.gov/events/xml/PAAQCAP.xml

From there it is just parsing the XML, checking if we have already processed the message, storing a new message if necessary, and sending out the notification.

The most difficult part for us is conve

[2021-02-10 13:32] rfalanga commented on #25
Thank you @schuback and @MaximilianDixon, your feedback helps. 👍

[2021-02-11 17:48] codingbandit commented on #19
Modeling complete - [wiki ](https://github.com/HTBox/TwoWeeksReady/wiki/Hazard-Hunt---Hazard-Information)

[2021-02-11 17:48] #19 closed

[2021-02-11 17:48] codingbandit commented on #18
Modeling complete ![wiki](https://github.com/HTBox/TwoWeeksReady/wiki/Hazard-Hunt---Hazard-Information)

[2021-02-11 17:48] #18 closed

[2021-02-11 17:50] codingbandit opened #29 "Hazard Hunt / Hazard Information - Functions Implementation"
See the [wiki information](https://github.com/HTBox/TwoWeeksReady/wiki/Hazard-Hunt---Hazard-Information)

In the [API project](https://github.com/HTBox/TwoWeeksReady/tree/master/api)
- depending on if to common project is checked in - create base classes, and concrete classes as described in the modeling section
- create API for Hazard Hunt (get)
- create API for Hazard Information (get)
- you'll

[2021-02-11 17:51] codingbandit opened #30 "Hazard Hunt / Hazard Information - UI Implementation"
See the [wiki information](https://github.com/HTBox/TwoWeeksReady/wiki/Hazard-Hunt---Hazard-Information)

[2021-02-11 17:55] codingbandit commented on #17
Reserving for @csharpfritz codeathon 9/12/2021

[2021-02-12 06:49] codingbandit commented on #12
Wiki updated with API documentation

[2021-02-12 06:49] #12 closed

[2021-02-12 15:43] csharpfritz commented on #17
Starting on this project

[2021-02-12 17:23] theancientcoder commented on #29
hi @codingbandit  I would happy to help with this

[2021-02-28 23:56] steve-bate commented on #29
Hello @theancientcoder. Have you started working on this feature? I did some work on it (mostly to become familiar with the code base), but I don't want to submit a PR that will overlap with work you've already done.

[2021-03-02 12:11] steve-bate commented on #30
Questions:
1. Is there any content available for these views?
2. Do these views need authentication/login?

[2021-03-02 13:24] codingbandit commented on #29
Thank you @steve-bate for the PR :)

[2021-03-02 13:24] #29 closed

[2021-03-02 13:36] codingbandit commented on #30
Hi @steve-bate - we currently don't have content for these views. They do not require authentication/login.

Examples of Hazard Information can be found here:
https://mil.wa.gov/hazards

Examples of Hazard Hunt could be:
Gas Shut Off - knowing where the gas shut off valve to the home is located, and how to operate it.
Secure furniture - bookshelves, curios, and other similar types of furniture can

[2021-03-02 13:42] codingbandit opened #39 "Family Plan - Modeling"
https://mil.wa.gov/plan

@schuback  - we can discuss this at the 3/3 meeting, need to get details on how we see this working on the application.

[2021-03-02 22:17] MaximilianDixon opened #40 "Someone please create a wiki page for "Family Plan" so I can populate it with information"
I either don't have permission to create wiki pages or edit/add to them! Thank you.

[2021-03-02 23:12] codingbandit commented on #40
Here it is :) Let me know if you still have trouble. https://github.com/HTBox/TwoWeeksReady/wiki/Family-Plan

[2021-03-02 23:12] #40 closed

[2021-03-03 00:52] MaximilianDixon commented on #40
Thank you for getting this page created. I don't however have permission to edit the page :(

[2021-03-03 00:54] schuback commented on #40
Trying to figure that out now.

On Tue, Mar 2, 2021 at 4:53 PM MaximilianDixon <notifications@github.com>
wrote:

--

Pascal Schuback
pascal@schuback.com
206.414.8799
@schuback

[2021-04-16 00:49] acrigney opened #43 "Signup is broken"
I was trying to contact Richard Campbell but the signup page is broken.
I am interested in helping out with handling disasters like terror attacks and accident control/prevention.
I would also like to show you how I use Domain Driven Design.
I used to work for Transport.
Please email me at acrigney@gmail.com

[2021-04-16 17:10] codingbandit commented on #43
Hi @acrigney - welcome! Could you provide some additional information on this issue, is there an issue with the Auth0 registration of the application ?

[2021-04-16 22:48] acrigney commented on #43
Thanks guys no this is just a sinple asp.net mc error. I will email you my
info.

On Sat, 17 Apr. 2021, 3:10 am codingbandit, ***@***.***>
wrote:

[2021-04-19 19:37] shawnwildermuth opened #44 "Family Plan"
Implement Family Plan

[2021-04-19 19:37] shawnwildermuth commented on #44
Can you assign this to me?

[2021-04-20 17:16] codingbandit commented on #44
Thank you for taking this!

[2021-04-20 17:17] codingbandit commented on #43
@acrigney - are you talking about the admin web application ?

[2021-04-28 04:53] shawnwildermuth opened #50 "Photos?"
We need to store photos in several places in the app. Should we look into Blob Storage or store inside CosmosDb? I suspect blob storage is going to be a ton easier and cheaper, but I'm open to having the conversation.

[2021-04-28 05:54] shawnwildermuth opened #51 "Photos?"
We need to store photos in several places in the app. Should we look into Blob Storage or store inside CosmosDb? I suspect blob storage is going to be a ton easier and cheaper, but I'm open to having the conversation.

[2021-04-28 05:54] #51 closed

[2021-04-30 21:37] shawnwildermuth commented on #50
My proposed solution is this:

- Azure Storage
- Store as resized jpgs only
- Using Bearer token to authenticate
- Using Api to return images from azure storage (so we can validate the user owns the image and secure Azure Storage)
- Using a custom Vue component to read the images with bearer token

[2021-05-10 14:44] neelmallepally opened #55 "GET api/emergencykits throwing 500 error"
I have set up everything as described in the README files of each project(api, front end) and use CosmosEmulator tool to create cosmos db and collections in local CosmosDBEmulator. When I ran api project and used postman to run GET api/emergencykits end point, it is throwing 500 http status code.

![image](https://user-images.githubusercontent.com/1775405/117686190-9f385280-b184-11eb-9e16-21405882

[2021-05-10 22:27] neelmallepally opened #56 "Emergency Kit Create and Edit Forms Validation"
Create and edit emergency kit forms allow user to save without entering "kit name", "Kit Item Name", "Description", "Quantity" etc.

![image](https://user-images.githubusercontent.com/1775405/117729262-9497b080-b1b8-11eb-9f59-399ff6005516.png)

![image](https://user-images.githubusercontent.com/1775405/117732155-5b157400-b1bd-11eb-8ca7-1337e729f5b1.png)

[2021-05-10 22:29] neelmallepally commented on #56
@dpaquette @codingbandit - Is this a valid bug? If so, can I work on it? Thanks.

[2021-05-11 00:32] dpaquette commented on #56
Yes, it is a valid bug. The UI for this feature be changing a bit but it would still be great to have validation in place for what's been built so far. Please feel free to work on it :-)

[2021-05-12 17:04] neelmallepally opened #58 "Add Loading Icon to Emergency Kits List Page (Front End)"
When the network is slow or API return response is slow, Emergency Kits list page shows "No Data Available" until the API returns data and displays it.

Proposal: Add loading icon similar to what is currently implemented for "Edit Emergency Kit" page.

[2021-05-13 15:03] #56 closed

[2021-05-13 16:41] dpaquette commented on #55
It's possible your emergency kits collection has the wrong partition key defined.  Take a look at PR #53 that I just merged. It should initialize the collections correctly but you might need to delete your database and re-run the initializer

[2021-05-13 19:16] neelmallepally commented on #55
PR #53 solved the issue I was having. Closing it.

[2021-05-13 19:16] #55 closed

[2021-05-19 14:04] neelmallepally commented on #58
Implemented in #60 PR

[2021-05-19 14:04] #58 closed

[2021-05-20 23:33] schuback opened #61 "TEST Example - Broken image on signup page"
FYI - Working through issues process with Dante - this issue will be deleted / test purpose only
On an iphone 12. loaded app and HTBox logo on registration page was broken.  @ddisabat can you confirm new graphic to use from graphic library
![Screen Shot 2021-05-18 at 11 44 23 AM](https://user-images.githubusercontent.com/830036/119060277-ba763f80-b986-11eb-88ca-c6044d924224.png)

[2021-05-20 23:34] DDisabat commented on #61
Thanks for the test. I will look into this/ TEST

[2021-05-20 23:40] DDisabat commented on #61
Image file 456 has been uploaded in <>Code -> Assets -> Graphics
link

[2021-05-20 23:42] DDisabat commented on #61
@schuback this is ready for a developer to update

[2021-05-21 05:42] #61 closed

[2021-05-23 13:14] dpaquette opened #63 "Add App Icons to favicon.ico and manifest.json"
Update the Vue app to us the app icons found in the assets folder of the repo.

Update the favicon.ico in public/index.html

Set the pwa icon paths in `vue.config.js` (see https://cli.vuejs.org/core-plugins/pwa.html#configuration for details on how to configure it)

[2021-05-24 20:26] #63 closed

[2021-05-24 20:28] dpaquette opened #64 "Set app title"
Currently the app title in the browser is set to "2wr-app"

![image](https://user-images.githubusercontent.com/2531875/119403778-1baa5580-bc9c-11eb-8b7e-46bec31eb879.png)

Configure the `public/index.html` to reference the app name from a VUE_APP env setting. This would allow us to add a DEV and BETA prefix to those specific environments.  e.g. App title should be "Two Weeks Ready - Dev"

https://

[2021-05-27 17:23] codingbandit opened #65 "Admin Application - Base Kit Information"
Administrators require the ability to maintain base kits to provide a starting point for users to create their own kits.

[These base kits are defined on the wiki.](https://github.com/HTBox/TwoWeeksReady/wiki/Emergency-Kits)

The Admin Web Application should utilize the Functions established in the middle tier.  The Photo/icon guidance has not yet been established, however a placeholder should be

[2021-05-27 17:24] codingbandit opened #66 "Admin Application - Implement Auth0 authentication"
Implement Auth0 authentication as to utilize the token to authenticate to the Function Apps in the middle tier.

[2021-05-27 17:27] codingbandit opened #67 "Azure Functions - Add role-based security for admin methods."
Certain methods existing in the Azure Functions need to be further restricted to allow only content administrators permission to maintain content to be presented in the 2wr application. These methods will be called from the admin application.

An admin role should be created for authorization on items such as:
- base kit maintenance (CRUD)
- Hazard hunt maintenance (CRUD)
- Hazard information main

[2021-05-27 17:28] codingbandit commented on #43
Closing due to no response. If you still require assistance, feel free to open a new issue.

[2021-05-27 17:28] #43 closed

[2021-05-27 17:31] codingbandit commented on #39
@shawnwildermuth - I expect this task has been completed ? How do things stand with the Family Plan ? Thanks!

[2021-05-27 18:04] #17 closed

[2021-05-27 18:04] codingbandit commented on #17
replaced with more specific issues

[2021-05-27 19:24] neelmallepally commented on #67
@codingbandit , READ (Get All) will be allowed for all authenticated users not just for Admin role, correct?

[2021-05-27 20:35] codingbandit commented on #67
Hi @neelmallepally - Yes sorry - read should be available for anyone. The creation update and delete should be only available via admin.

[2021-05-27 21:18] neelmallepally commented on #66
@codingbandit , is this issue reserved for any code hackathon live stream or open for anyone? I'm interested to take this if it is open to anyone? Thanks.

[2021-05-27 21:32] codingbandit commented on #66
Hi Neil, this one is all yours :) thank you for contributing!

[2021-05-28 00:15] shawnwildermuth commented on #39
We're about 2/3 complete. When I return from Wyoming (next week), i'll be able to dig into the actual showing of the plans. All the data modeling and data entry is complete.

[2021-05-28 00:15] #39 closed

[2021-05-28 02:34] codingbandit commented on #39
Thank you so much @shawnwildermuth - very appreciated. Have safe travels!!

[2021-05-30 17:30] #64 closed

[2021-06-02 14:08] neelmallepally commented on #66
@codingbandit @dpaquette I should have asked this question before starting my work on this issue. Please correct me if I'm going in the wrong direction for authentication/authorization in the admin app and in azure functions api.

I'm following RBAC approach based on this recommendation from Auth0 - https://auth0.com/docs/authorization/rbac
- Define a role (let's say admin) : We will check if logg

[2021-07-01 19:17] DDisabat opened #70 "New Feature"
Create feature where we develop and maintain a list of links of the 39 counties in WA that has the URL to their websites (contact page etc.). Also, have option for user to opt into receiving information via the county RSS feed. Create a button that the user can press that takes them to the county webpage. The information from the RSS feed would pop up at the top of the main landing page?

[2021-07-01 19:20] DDisabat opened #71 "Feature: Emergency Kit Reminders"
Provide option for user to receive reminders to check/update their emergency kits. Options should include: monthly, 6 month and yearly reminders. Reminder messaging: Have you completed your kit? Do you have any expired items (medication, food etc.)? Do you have a new pet or family member? Input on/off option into the “emergency kit” module and the “settings”.

[2021-07-01 19:51] DDisabat opened #72 "Bug: Hazard Tab Fails to Load"
A bug, the user could not open the Hazard Information tab. It showed a loading bar on the top and did not load the page. Bug replicated on attached screen recording below.

Reach out to @MaximilianDixon @DDisabat for further clarification if needed.

https://user-images.githubusercontent.com/78102622/124181771-cd426080-da6a-11eb-9b35-c7811051ff1f.mp4

[2021-07-01 19:59] DDisabat opened #73 "Feature: Save Buttons"
Make all save features in the application a button with the word "SAVE" written in it. This will replace the "floppy disk" save icon with buttons similar to the "WALKTHROUGH" and "MANAGE" buttons in the image below.

![Save Button Style](https://user-images.githubusercontent.com/78102622/124182641-fc0d0680-da6b-11eb-9db2-8c22c60d5a0b.jpg)

Contact @MaximilianDixon @DDisabat for clarification if ne

[2021-07-01 20:13] DDisabat opened #74 "Bug: Exposed Coding in Family Plan"
When adding a child to the Family Plan, there is exposed coding shown at the bottom of the window. Please see screen recording for reference.

Contact @DDisabat for further clarification if needed.

https://user-images.githubusercontent.com/78102622/124184243-1fd14c00-da6e-11eb-82dd-db99a8202095.mp4

[2021-07-01 21:42] DDisabat opened #75 "Feature: Dark Mode"
-Feature request, dark mode. Ability to toggle on/off dark mode in settings. Example shown below from Facebook application.
-Will need switch to turn on/off as well.

Contact @DDisabat @MaximilianDixon if clarification is needed.

![Dark Mode](https://user-images.githubusercontent.com/78102622/124192612-6331b780-da7a-11eb-87c5-b848438c412a.jpg)

[2021-07-06 21:11] DDisabat opened #76 "Bug: Can't save some options in Family Plan"
-Unable to save "Emergency Contacts" in  Family Plan module. Screen recording attached.

-Delay in saving new "Routes and Locations." Time delay in saving can be 10+ seconds or it doesn't save at all. Not consistent. Needs closer look.

Contact @DDisabat for additional clarity if needed.

https://user-images.githubusercontent.com/78102622/124667224-f6486400-de63-11eb-97d1-e8704a5307b0.MP4

[2021-07-25 09:58] marblekirby opened #78 "Suggestion: Developer setup documentation"
This documentation may exist - I just cant find it!

Can we get some setup docuemntation for this project (and if some exists can someone point me in the that direction or make it alot more visible?).

**As a** developer
**I want to** have instructions for application setup and configuration
**So that** I can get developing on this project quickly and without any errors

Acceptance Criteria:
- Ins

[2021-07-25 10:26] marblekirby commented on #76
Did some triaging on this and found that the family plan API returns `emergecyContacts` (instead of `emergencyContacts`. The vuejs is expecting an array named `emergencyContacts` , because it cannot map `emergecyContacts` to `emergencyContacts` we are getting an error on saving an emergency contact.

Simple typo on the API end.

Fixed on my fork, will add PR for this issue

![image](https://user-i

[2021-07-25 10:30] marblekirby commented on #76
can we create seperate issue for second problem in this issue?

-Delay in saving new "Routes and Locations." Time delay in saving can be 10+ seconds or it doesn't save at all. Not consistent. Needs closer look.

[2021-07-25 10:42] marblekirby commented on #73
@DDisabat where does the new 'Save' button go on the page? should it go where the floppy disk currently is or should it be placed below the textbox like the 'Walkthrough' and 'Manage' buttons?

[2021-07-25 10:47] marblekirby commented on #72
Hi I could not replicate this

![image](https://user-images.githubusercontent.com/47943146/126896405-3b237743-49ee-4ef0-a86f-c2f2acf50e7c.png)

My Hazard tab loads successfully on FireFox Desktop. Can give more information if needed.

[2021-07-25 10:51] marblekirby commented on #67
Hi i see a PR has been merged for this issue, is this issue ready to be closed?

[2021-07-25 10:54] marblekirby commented on #71
Hi some questions before i begin working on this issue,

where should the reminder show? is it an email reminder, a popup when they access the app, an sms reminder?

[2021-07-25 13:11] dpaquette commented on #66
Thanks for your help with this @neelmallepally. I'm going to close this issue and create a new one to put some documentation in place (perhaps in a README for the Admin project) so folks know how to work on the admin app.

[2021-07-25 13:11] #66 closed

[2021-07-25 13:18] dpaquette commented on #78
Thanks @marblekirby

We do have some documentation but as always it could probably use some improvement.

There are 3 main parts to TwoWeeksReady. Each is in it's own folder in this repo and each of those folders has it's own README file which should have the info you need to get started.

1) api: The backend API built using Azure Functions, .NET Core and CosmosDB
2) 2wr-app: The Progress Web App

[2021-07-25 13:19] dpaquette commented on #74
Looks like some local debugging code was accidentally checked in

[2021-07-25 13:20] marblekirby commented on #78
Thanks. Let's try add that to the main Readme file so people can easily find it

[2021-07-25 13:22] dpaquette commented on #72
This is an issue with the database configuration in the beta (yeti) environment

[2021-07-26 13:41] marblekirby commented on #74
PR merged, this issue can be resovled

[2021-07-29 15:14] DDisabat commented on #74
Thank you so much for volunteering your time on this! I will go ahead and close the issue :)

[2021-07-29 15:14] #74 closed

[2021-08-02 21:01] marblekirby commented on #76
Can you expand on the "Routes and Locations" issue and include some sample data?
is there specific data that causes it to take long times to save or specific data that causes it not to save?

[2021-08-02 21:03] marblekirby commented on #72
Is this something easily fixed by a contributor if it is database configuration?

[2021-08-02 21:22] marblekirby commented on #70
Hi do we need to build something to manage the county links?

If not, are we happy to seed these into the database from a file?

[2021-08-02 23:46] DDisabat commented on #70
Hi! We do maintain a website with this information (https://mil.wa.gov/alerts#news) , but we would need to build something to manage the links on the admin side to create the drop down menu. We could populate this information into a data table, keep it up to date, and also link the data to zip codes the county contact information pertains to as a search functionality.

For example, if the user ent

[2021-08-02 23:50] DDisabat commented on #76
Hi all, I am not able to replicate the "Routes and Locations" issue nor do I remember the specific context of the data that I entered. If I am able to replicate this issue or it comes up again, I will reference this post.

Thanks again so much!

[2021-08-02 23:50] #76 closed

[2021-08-03 00:18] DDisabat commented on #73
Hi @marblekirby looking at this again, the best solution is to actually replace the floppy disk and red "cancel" button with the edit pencil icon. When the edit pencil icon is clicked, it pops out a window to make edits and then on the bottom you can save your entry or cancel (this is how the other editable sections are within the family plan). So far, the floppy disk and cancel icon only appear t

[2021-08-03 00:27] DDisabat commented on #72
@dpaquette @marblekirby I should have clarified in the title of this post that this is for the "Hazard Information" Tab not the "Hazard Hunt" tab. In the video, it looks like I first selected "Hazard Hunt" but it actually shows the "Hazard Information" tab.

[2021-08-03 00:29] DDisabat commented on #71
Hi @marblekirby ideally, we would like the user to be able to select if they would like in app notifications, email reminders (maybe with a calendar invite), and SMS reminders within their settings.

[2021-08-05 16:58] codingbandit commented on #78
Added links to project README docs on the main landing page in PR #81

[2021-08-05 16:58] #78 closed

[2021-09-02 02:34] dpaquette commented on #21
These functions have been created but we need to ensure that the Create, Update, and Delete endpoints are only accessible to admin users.

[2021-09-02 02:41] dpaquette commented on #30
Preliminary UI has been created. We will need to review the current state and fill in details here on what is work is remaining

[2021-09-02 02:42] dpaquette commented on #26
What does a connection mean? Is there data being shared between these 2 connected users?

[2021-09-02 02:43] dpaquette commented on #67
@marblekirby  This issue is not ready to be closed. We still need to check for the admin role for the items listed above. The API doesn't make those authorization checks yet.

[2021-09-02 02:51] schuback commented on #26
Hi David.

If I am thinking the right place.  Let’s say you and I are family.  Connecting people would be linking the family plan that I write that has you a part of it so that your device stores it and you would be updated if anything changes on it. You would also be able to put notes on it as well too (it would then notify the family group as well).

P

[2021-09-09 21:07] b4ux1t3 opened #82 "Lack of New Contributor Documentation"
I've been meaning to help out with HTBox for a while now, and I've finally been able to set aside some time to start getting 2WR stood up and kicking the tires to get a feel for the app before I start looking at open issues.

There is a bit of friction getting started. I've been able to get the application running in debug, but that's about it.

I hope this doesn't get taken as "you're doing every

[2021-09-15 13:22] codingbandit opened #84 "Deal with dependabot"
Fix the dependabot security vulnerability message.

[2021-09-15 18:33] codingbandit opened #87 "Encryption, key sharing infrastructure"
All PII (contacts, medical information) needs to be encrypted/decrypted from a blob. When PII is shared, keys need to be shared to other users to decrypt the information.

* Needs a specification

[2021-09-15 19:48] codingbandit opened #88 "Admin App: Pass through authentication from Web UI to the Azure Functions API"
Admin App has UI authentication in place, checking for admin role is successful.

The access_token retrieved seems to be invalid and is rejected from the API

[2021-10-11 13:45] dpaquette opened #90 "Deploy Admin App"
Update deployment scripts to include resources for the Blazor based admin app.

Add GitHub actions workflow for CI/CD of the admin app.

[2021-10-11 13:51] dpaquette opened #91 "Updating Styling of Login Page to match Wireframe"
Configuration Login page (configuration in Auth0 portal) to match the wireframes as closely as possible (Logo and Colors)

https://xd.adobe.com/view/158c8bc4-5ef2-47dd-90c0-ba3c508e4d62-40df/screen/4b056372-b05c-43bf-a429-1935ee67a04e

[2021-10-11 13:54] dpaquette opened #92 "Configure Vuetify theme to match Wireframes"
Configure the primary and secondary colors for Vuetify to match the wireframes.

https://vuetifyjs.com/en/features/theme/#customizing

![image](https://user-images.githubusercontent.com/2531875/136802036-8086d8c1-1531-4480-a04c-32e5c29396c0.png)

[2021-10-11 16:13] dpaquette opened #93 "Create Welcome screen"
Create welcome screens for the app as shown in the wireframes. This should be displayed for first time visitors of the app

https://xd.adobe.com/view/158c8bc4-5ef2-47dd-90c0-ba3c508e4d62-40df

[2021-10-11 16:19] dpaquette opened #94 "Add Reunification to Family Plan"
Add a Reunification section to the family plans.  See wireframe for details on information contained in the Reunification plan.

https://xd.adobe.com/view/158c8bc4-5ef2-47dd-90c0-ba3c508e4d62-40df/screen/6e24601f-633d-4625-b0d4-3a7181789fdd

[2021-10-11 16:20] dpaquette commented on #94
@DDisabat  Is the "Reunification" section what is currently referred to as "Routes and Locations" in the current implementation of Family Plan?

[2021-10-11 16:24] dpaquette opened #95 "Add Out of Area Contact to Family Plan"
Add an "Out of Area" contact section to Family Plan. This will contain basic contact info similar to Emergency Contacts.

Wireframe:
https://xd.adobe.com/view/158c8bc4-5ef2-47dd-90c0-ba3c508e4d62-40df/screen/5deae629-939a-4c41-87d3-1874a1bd1593

[2021-10-12 15:06] dpaquette commented on #88
@codingbandit  Can this issue be closed?

[2021-10-12 15:08] dpaquette opened #96 "Update Dev environment custom domain"
Update configuration of the Dev environment to use custom domain yeti.2wr.org

[2021-10-12 16:54] dpaquette opened #97 "Configure app for localization"
Investigate what would be needed to add support for multiple languages in the future.

[2021-10-12 16:56] dpaquette opened #98 "Accessibility Basics"
Add basic accessibility testing. This could be done using github action and Playwright with Axe Core.

Proof of concept done in this video: https://www.youtube.com/watch?v=m2ouoDx8_wI&list=PLFHLo5Y9d4JaoGZB-wmXGASeoKYIr78fo&index=6&ab_channel=Asp.NetMonsters

[2021-10-12 19:11] c0g1t8 opened #99 "Link to Slack channel is no longer available"
The link to join the _hackathon dev channel on slack_ in the **README.md** at the root of the repository is indicates it's no longer available.

![image](https://user-images.githubusercontent.com/23250332/137014800-69575d87-e7e3-4607-82a5-e94db7c9cfa1.png)

[2021-10-12 21:10] #92 closed, assigned to dpaquette

[2021-10-12 21:20] #91 closed, assigned to dpaquette

[2021-10-12 22:29] #90 closed, assigned to dpaquette

[2021-10-13 14:52] dpaquette opened #103 "Hazard Information UI"
Review UI for Hazard Information and fill in any gaps between current implementation and the wireframes

https://xd.adobe.com/view/158c8bc4-5ef2-47dd-90c0-ba3c508e4d62-40df/screen/a4ac5cc4-c459-4a44-b672-748fd0a55478

[2021-10-13 19:37] #93 closed

[2021-10-13 21:19] #103 closed

[2021-10-14 00:07] rtmsft commented on #95
@dpaquette We can add support for multiple out of area contacts later.  For now, I've limited it to just one.

[2021-10-14 00:09] rtmsft commented on #95
PR is here:  https://github.com/HTBox/TwoWeeksReady/pull/105
I guess @dpaquette is the person to approve it?

[2021-10-14 00:12] rtmsft commented on #94
@dpaquette you can assign this issue to me.  We'll see how far I can get by end of day tomorrow.

[2021-10-14 14:24] #95 closed, assigned to rtmsft

[2021-10-14 14:26] dpaquette opened #106 "Admin UI for Hazard Info"
Complete the Admin UI for creating and updating Hazard Info

[2021-10-14 19:07] #106 closed

[2021-10-14 19:27] dpaquette opened #110 "Run Playwright tests for all app related PRs using GitHub Actions"
Run the existing 2wr-app playwright tests for all PRs using GitHub Actions. This would allow us to validate that PRs have not broken some basic functionality within the app.

One option would be to run the tests locally within the Actions agent and handle the network requests to the API using Playwright (https://playwright.dev/docs/network/#handle-requests).

We may need a test user created in Aut

[2021-10-14 20:21] dpaquette opened #111 "Resolve Welcome Page Accessibility rule violations"
Sorry about the formatting here. Re-run the playwright tests to get the output locally.

│ (index) │id│impact │description│nodes│
│    0    │     'button-name'      │ 'critical' │                                  'Ensures buttons have discernible text'             │   1   │
│    1    │    'color-contrast'    │ 'serious'  │ 'Ensures the contrast between foreground and background colors meets WCAG 2

[2021-10-14 21:34] dpaquette commented on #72
I have resolved this for the Hazard Information (now Learn you Hazards) section. It will be resolved in the beta environment next time we release.

[2021-10-14 21:46] dpaquette opened #112 "Move Family Members to top section of family plan"
Currently, adding Family Members to a plan is done through the Children / Pets section.

Remove the Children and Pets sections as well as the Walkthrough and Manage section.
![image](https://user-images.githubusercontent.com/2531875/137399457-79e83893-2293-49d4-a203-94a5f12f983f.png)

List family members and pets below the Plan Name and provide provide an Add button as shown in the wireframes

htt

[2021-10-14 22:25] #94 closed

[2021-10-15 14:38] dpaquette opened #115 "API Deployment Failing"
https://github.com/HTBox/TwoWeeksReady/actions/runs/1344087041

[2021-10-16 16:26] c0g1t8 commented on #99
@schuback 🙏I've now joined the slack group.

[2021-10-16 16:26] #99 closed

[2021-10-30 20:09] codingbandit commented on #50
add local caching (for offline)

I approve this message :)

[2021-10-30 22:46] shawnwildermuth commented on #50
Good idea.

[2021-11-04 06:08] c0g1t8 opened #116 "Wiki updates"
I found a few minor typos and grammatical issues in the Wiki.

I [cloned a copy of the Wiki](https://github.com/c0g1t8/TwoWeeksReady-wiki) and placed the changes in the [updates branch](https://github.com/c0g1t8/TwoWeeksReady-wiki/tree/updates).

If the changes are acceptable, I can provide a patch.

[2021-11-07 20:49] c0g1t8 commented on #14
Has been added to MVP Project as
https://github.com/HTBox/TwoWeeksReady/projects/1#card-43097431

[2021-11-07 21:07] c0g1t8 commented on #25
https://github.com/HTBox/TwoWeeksReady/wiki/Tsunami-Alerting should be updated with a summary of this information.

[2021-11-07 21:55] c0g1t8 commented on #82
@b4ux1t3

On familiarizing yourself with **Auth0**, I found these [Get Started with Auth0 Video Series](https://auth0.com/docs/videos/get-started-series) helpful.

[2021-11-08 03:34] c0g1t8 commented on #87
Does HIPAA apply?  I only ask because of the storage of medical information.

I've worked on systems where some fields in the a record were encrypted in the database.  Only the application server had the keys to encrypt and decrypt these fields.  The data was considered to sensitive to expose even to the database admins.

A similar mechanism could be used here.  It could be implemented as part of

[2021-11-08 19:21] RichardCampbell commented on #87
While I don't think HIPAA applies since its purpose is to stop medical institutions from utilizing patient data outside of treatment, we do have a responsibility for privacy - and we have no need to access any of the data that the user enters into the system. It can be stored as an encrypted blob that can be backed up in the cloud if the user wishes, and also synced across other devices within the

[2021-11-10 15:12] c0g1t8 opened #117 "Developer Documentation"
I've been stalking this project for several months and found the goals for this project admirable.  I originally intended to contribute by providing docker support to simplifying onboarding new developers.  But before I could start, I needed more information on the architecture and technology stack behind this project.  I ran across the issues mentioned in #82 - lack of documentation.

I've spent

[2021-11-10 15:45] codingbandit commented on #117
Completely acceptable, feel free to proceed.

[2021-11-12 06:09] c0g1t8 commented on #117
@codingbandit

Can we label this issue *documentation*?

As I started this process, I realized that there are many things that we can document to enable faster onboarding other than a generic technical overview.  The obvious one is a _Build Guide_ for developers - step-by-step instructions to create a buildable and debuggable system.

What are the priority items that need to be documented?

[2021-11-16 15:49] c0g1t8 commented on #117
From #78, cover the following

- Installations (what do i need to install?)
- Configuration (what do i need to configure?)
- Running (what do i need to run?)

[2021-11-17 16:39] dpaquette commented on #115
This was due to an expired service principal. Was resolved by @tonysurma

[2021-11-17 16:39] #115 closed

[2021-11-22 16:44] codingbandit commented on #116
Please issue a PR so that I can review the changes

[2021-11-26 17:55] #111 closed

[2021-11-26 18:05] dpaquette opened #120 "Admin App: Integrate with list of images available in client app"
The client app has image assets available in https://github.com/HTBox/TwoWeeksReady/tree/master/2wr-app/public/images folder. These images get published with the client app and can be referenced in certain items that are configurable within the Admin App.

An example of this is the Hazard Information. Each Hazard has a link to an icon that is used on the hazard list page:
![Hazard List Page with i

[2021-11-26 18:12] dpaquette opened #121 "Typos in labels on Add/Edit Hazard Info page"
The Add / Edit Hazard Info page of the Admin App has some typos.

The label that reads "DuringSafety Details" should read "During Safety Details"

The second label that reads "Before Safety Details" should read "After Safety Details"

![Screenshot of Add/Edit hazard info page](https://user-images.githubusercontent.com/2531875/143618454-ce2efb09-3542-4c58-bbae-e05c463a4d87.png)

[2021-11-26 18:16] dpaquette commented on #112
I labelled this as good first issue but beware that this might be a little more advanced than your typical first issue, unless you already have a good working knowledge of Vue

[2021-11-26 21:23] dpaquette opened #122 "Update Admin app to .NET 6"
Having Hot Reload would really streamline our development workflow on the Admin App.

[2021-11-27 18:09] c0g1t8 commented on #116
@codingbandit  I don't have access to the wiki 😄.  I've created a patch file you can apply below:
[wiki-update.txt](https://github.com/HTBox/TwoWeeksReady/files/7612202/wiki-update.txt)

[2021-11-28 16:55] #120 closed

[2021-11-28 18:50] dpaquette opened #124 "Configure Dev Containers"
To develop the full Client App, API and Admin app locally, we require a variety of SDKs to be installed and emulators to be running.

Investigate the feasibility of configuring dev containers reduce the effort required to get started as a new contributor. Could this also be configured to work with Code Spaces?

Off the top of my head, some of the dependencies are:
- Node / NPM
- Cosmos DB Emulator

[2021-11-29 06:53] c0g1t8 commented on #116
@codingbandit

My intention was to provide a patch since I don't have write access to the wiki.  The original patch I created and posted didn't work when I attempted to test it.  😞

Based on https://stackoverflow.com/questions/5884784/how-to-pull-remote-branch-from-somebody-elses-repo, you can try the following:
`
git fetch https://github.com/c0g1t8/TwoWeeksReady-wiki.git updates:c0g1t8_updates
`

[2021-11-29 16:35] dpaquette opened #125 "Epic: Update to Vue 3"
Pending the release of Vuetify 3, we would like to update the 2wr-app to Vue 3.

[2021-11-29 20:39] shawnwildermuth commented on #125
Release of Vuetify 3 has been the sticking point. Is it close?

[2021-11-29 20:42] dpaquette commented on #125
It is getting close! The Beta is expected in December and the official release in February.
Reference: https://vuetifyjs.com/en/introduction/roadmap/

We could consider starting this work in December targeting the Beta although I generally prefer to target stable bits in HTBox projects :-)

[2021-12-05 17:22] c0g1t8 commented on #124
I've been using a single dockerfile to validate the build and development documentation.  The configuration should almost be identical for Codespaces.

I can share that later on today.

[2022-01-24 21:59] #124 closed

[2022-01-24 22:01] dpaquette opened #127 "Documentation on how to use Dev Containers / Codespaces"
Provide some documentation and maybe a link to an intro video showing folks how to get started using dev containers and/or code spaces.

[2022-01-24 22:01] dpaquette commented on #127
Paging @davidwesst  :-)

[2022-03-05 13:09] codingbandit commented on #127
@davidwesst is assigned this issue (assigning myself to avoid parallel work)

[2022-03-05 13:09] codingbandit commented on #122
Jeff Fritz is going to take a first stab at this one at the hackathon

[2022-03-05 13:11] dpaquette commented on #110
Taking this on in the March 5 hackathon

[2022-03-05 13:12] dpaquette opened #132 "Update Function App to .NET 6"
Once the Admin app has been updated to .NET 6, it would be good to also get the function app updated to .NET 6.

[2022-03-05 13:13] codingbandit commented on #97
Potential solution: https://github.com/valterlorran/vuejs-localization#readme

[2022-03-05 14:38] DDisabat opened #133 "New Feature Request: Make A Plan"
Build out Family Plan landing page including space for text on top of the page, and associated buttons and profiles. The orange boxes with text are buttons for links to other pages. We want to build out profile icons under "My Family Plan" and under "Shared Plans With Me" as well.

Click direct link to wireframe to see below, and explore the wireframes

https://xd.adobe.com/view/158c8bc4-5ef2-47dd

[2022-03-05 14:44] DDisabat opened #134 "New Feature Request: Add Profile Manually/From Contacts in Family Plan"
Create add profile button that opens options to add a profile from contacts and autofill fields or to direct to manual entry.

Wireframe: Click add profile
https://xd.adobe.com/view/158c8bc4-5ef2-47dd-90c0-ba3c508e4d62-40df/screen/0eb324ee-9410-4607-a623-d921af922917

Wireframe: Add a person or pet (manual entry or add from contacts)
https://xd.adobe.com/view/158c8bc4-5ef2-47dd-90c0-ba3c508e4d62-4

[2022-03-05 14:48] DDisabat opened #135 "Update Feature Request:"
Build out the user profile fields as shown in the wireframes below. This includes, adding photos, filling in text boxes, and checking boxes for certain options.

Create expandable and collapsible sub categories for the fields. For Example "general information" can be expanded to show all of the fields within or be collapsed to hide this information.

Add profile for person:
https://xd.adobe.com/vi

[2022-03-05 14:54] DDisabat opened #136 "Feature: Emergency Contacts"
Emergency contacts is found from a button within "make a plan"

From here, we want to have phone numbers that are entered in the family plan profiles to populate not by person but by type automatically. These synced phone numbers are not editable fields but are pulled from the information in the family plan profiles.

We also want these phone numbers to open a prompt to text or call this person.

[2022-03-05 15:01] DDisabat opened #137 "Feature: Build out Action Plan Landing Page"
From the Family Plan, there is a button that connects to "Action Steps." This section needs areas for text boxes with button links below (Hazard information, emergency contacts, reunification plan). Underneath, there are two tabs "Action Check List" and "Action Updates"

Action Check List: We want to create a to do list with boxes that can be checked, saved, and text fields that can be added, edit

[2022-03-05 15:10] codingbandit commented on #73
Fixed, thank you @shawnwildermuth !

[2022-03-05 15:10] #73 closed

[2022-03-05 15:20] csharpfritz commented on #132
Updated Admin app to .NET 6 and consolidated the Program.cs file

[2022-03-05 15:26] #122 closed

[2022-03-05 15:53] #132 closed

[2022-03-05 16:39] davidwesst opened #141 "Run and Test GH Workflows Locally"
As mentioned by @dpaquette during the March 5, 2022 hackathon.

In order to test GitHub workflows, traditionally the only way to test them is by pushing to a branch and running on them GitHub itself. It would be nice to able to run them in your local environment to check for any major or obvious issues before pushing them up.

Possible Solution: https://github.com/nektos/act

[2022-03-05 17:01] #110 closed

[2022-03-05 17:24] davidwesst opened #142 "NPM script dev:napi does not run in devcontainer from the command line"
With a fresh container, functions application doesn't work from 2wr-app NPM script `dev:napi` throws the exception (see below), likely due to the path not being Linux compatible.

Potential Solution: Setup a node script file that runs in the node environment so that it doesn't matter if the NPM script is being run on Windows or Linux.

[code]

[2022-03-05 20:16] codingbandit commented on #133
Placeholder added in PR #145

[2022-03-05 21:17] davidwesst opened #147 "GH Workflow for testing DevContainer against main branch"
Create a workflow (job or otherwise) that tests that the project builds and runs in the devcontainer environment. This would ensure that the devcontainer (and "easy onboarding experience") always works with the codebase.

[2022-03-05 21:34] #121 closed

[2022-03-05 22:32] Rollerss opened #148 "API Missing Get BaseKit by Id Endpoint"

[2022-03-05 23:04] #148 closed

[2022-03-06 00:50] Rollerss commented on #65
What is required for this issue? Is just connecting the FunctionsRepository to the API endpoints or is there more needed?

[2022-03-06 16:52] #30 closed

[2022-03-06 16:59] codingbandit commented on #65
It looks like that is the case, we need to build out the base kit UI and connect to the functions through the FunctionsRepository. This will require that you are added as an Admin user in Auth0. If you wish to work on this item, let me know your Auth0 ID for the application and I can add you to it.

[2022-03-06 17:06] codingbandit commented on #21
Create, Update, and Delete endpoints need to have the admin check - check out the BaseKitsApi as an example

[2022-03-07 04:09] dpaquette commented on #21
These endpoints do have the admin check already.

[2022-03-11 23:57] davidwesst commented on #127
I've uploaded a video to my YouTube channel: https://www.youtube.com/watch?v=rYfsNBODfZc

It's currently unlisted-- but feel free to share it. I'm going to publish it as part of my regular video feed in a couple of weeks.

Take a look and let me know if this is enough for the issue.

[2022-03-12 23:27] Rollerss opened #151 "Update Admin Site Repository to Match API"
The Admin Site repository needs to be update to match the API endpoint.
    Update: SaveBaseKitItem(BaseKitItem kit) -> SaveBaseKit(BaseKit kit)
    Add: CreateBaseKit
    Add: DeleteBasekit
   Add: DeleteHazardHunt
   Add: DeleteHazardInfo

[2022-05-01 13:43] dpaquette commented on #127
This is great @davidwesst! Can you add a link to your video in the README and we can get this issue closed?

[2022-05-01 14:03] davidwesst commented on #127
I will do that ASAP and it shall be done.

[2022-05-01 19:55] davidwesst commented on #127
@dpaquette PR created and assigned to you for review.

[2022-05-02 01:44] #127 closed

[2022-05-11 21:26] #151 closed

[2022-05-12 15:29] dpaquette opened #156 "Investigate updating ComsosDB SDK Version"
We are currently using the Azure Functions CosmosDB Extensions (v3.0.10) which uses a deprecated version of the CosmosDB SDK (https://www.nuget.org/packages/Microsoft.Azure.DocumentDB.Core/).

Investigate updating this to a new version of the SDK.

[2022-05-16 15:12] #13 closed